@font-face {
    font-family: 'GrilledCheese BTN';
    src: url('GrilledCheeseBTN.eot');
    src: local('GrilledCheese BTN'), local('GrilledCheeseBTN'),
        url('GrilledCheeseBTN.eot?#iefix') format('embedded-opentype'),
        url('GrilledCheeseBTN.woff2') format('woff2'),
        url('GrilledCheeseBTN.woff') format('woff'),
        url('GrilledCheeseBTN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

